<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="index.html">STAR BLOG</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">ABOUT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image: url('assets/img/home-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <div class="row">
                            <div class="col">
                                <h1 th:text="${userNameInf}"></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="margin-top: 5px;margin-bottom: 5px;text-align: right;">UID</p>
                            </div>
                            <div class="col"><input class="bg-transparent shadow-lg" type="text" style="text-align: left;font-size: 12px;width: 290px;" th:value="${uidInf}" readonly=""></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="margin-top: 5px;margin-bottom: 5px;text-align: right;">用户名</p>
                            </div>
                            <div class="col"><input class="bg-transparent shadow-lg" type="text" style="text-align: left;font-size: 12px;width: 290px;" th:value="${userNameInf}" readonly=""></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="margin-top: 5px;margin-bottom: 5px;text-align: right;">密码</p>
                            </div>
                            <div class="col"><input class="bg-transparent shadow-lg" type="password" style="text-align: left;font-size: 12px;width: 290px;" th:value="${passwordInf}" readonly=""></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="margin-top: 5px;margin-bottom: 5px;text-align: right;">邮箱</p>
                            </div>
                            <div class="col"><input class="bg-transparent shadow-lg" type="email" style="text-align: left;font-size: 12px;width: 290px;" th:value="${emailInf}" readonly=""></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="margin-top: 5px;margin-bottom: 5px;text-align: right;">注册时间</p>
                            </div>
                            <div class="col"><input class="bg-transparent shadow-lg" type="text" style="text-align: left;font-size: 12px;width: 290px;" th:value="${registerTimeInf}" readonly=""></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="margin-top: 5px;margin-bottom: 5px;text-align: right;">最近登录时间</p>
                            </div>
                            <div class="col"><input class="bg-transparent shadow-lg" type="text" style="text-align: left;font-size: 12px;width: 290px;" th:value="${activeTimeInf}" readonly=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>最近文章</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>标题</h3>
            </div>
            <div class="col">
                <h3>发布时间</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p th:text="${t1}"></p>
            </div>
            <div class="col">
                <p th:text="${f1}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p th:text="${t2}"></p>
            </div>
            <div class="col">
                <p th:text="${f2}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p th:text="${t3}"></p>
            </div>
            <div class="col">
                <p th:text="${f3}"></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <form th:action="@{/content/add}" method="post">
            <div class="row">
                <div class="col-lg-1">
                    <h3 style="width: 100px;margin-top: 8px;padding-top: 15px;padding-bottom: 10px;">标题：</h3>
                </div>
                <div class="col"><input class="form-control" type="text" id="title" style="padding-top: 0px;margin-top: 20px;" name="title"></div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>正文：</h3>
                </div>
            </div>
            <div class="row">
                <div class="col"><textarea class="form-control" id="text" rows="25" name="text"></textarea></div>
            </div>
            <div class="row">
                <div class="col offset-lg-10"><input class="btn btn-primary" type="submit" value="发布"></div>
            </div><input class="form-control invisible" type="text" id="userName" name="userName" th:value="${userNameInf}">
        </form>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <p class="text-muted copyright">Copyright&nbsp;©&nbsp;STAR BLOG 2024</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/clean-blog.js"></script>
</body>

</html>